

table {    
    border-collapse:collapse;
    width: 100%;        
  }
  
  tbody tr {
    border: 1px solid gray;
        
  }

  td, th {
    
    text-align: left;
    padding: 6px; 
    text-align: center;
    margin: 5px;
  }
  
  tr:nth-child(even) {
    background-color: gray;    
  }

  .btn {
      background-color: lightgray;
      border-color: gray;
      border-radius: 10px;
      padding: 2px 5px;
  }